<h1>Alors comme ça on veut créer un nouveau potin?</h1>

<form action="" method="POST">
  <input type="text" name="user_id">
  <input type="submit" value="Envoyer le formulaire">
  <p>
  	<label for="content">Racontez nous donc votre potin !</label>
  	<textarea name="content" id="content"></textarea>
  </p>
</form>