<h3>Voici la page de l'auteur du potin</h3>

<p>Prenom : <%= @potins[params[:id].to_i].user.first_name%></p>
<p>Nom : <%= @potins[params[:id].to_i].user.last_name%><p>
<p>Description :</p>
<p>Son email : <=% @</p>
